---
layout: default
feast_date: July 30, 2017
feast_title: Big Day
feast_venue: PICC Meeting Room 1
events: live, llr, kcon
---
<div class='hero'>
  {% include videobg.html %}
  <div class="message">
    <img class="fba-logo" src="{{ '/assets/images/fbasync_white.png' | prepend: site.baseurl }}">
    <div class="message-box">
      <h1>Welcome Home</h1>
    </div>
  </div>
</div>
<div class="talk-series">
  <div class="image-wrapper">
    <img class="image" src="{{ '/assets/images/talks/leak-series.jpg' | prepend: site.baseurl }}">
  </div>
  <div class="schedule">
    <div class="details">
      <h2>Come home<br>this Sunday</h2>
      <h3>
        {{page.feast_title}} | {{page.feast_date}}<br>
        {{page.feast_venue}}<br>
      </h3>
      <a href="{{ site.baseurl }}/sessions/">View other sessions</a>
  </div>
  </div>
</div>
<div class="stories-panel">
  {% for post in site.posts %}
    <img class="story-bg" src="{{ site.baseurl }}{{ post.image }}">
    <div class="details">
      <div class="excerpt">
        <h4>Featured Story</h4>
        <p>
          {{post.content}}
        </p>
      </div>
      <div class="share">
        We'd love to hear your story. Let us know through story@fbasync.com
      </div>
    </div>
  {% endfor %}
</div>
<div class="events-panel siema">
  {% assign events = page.events | split: ", " %}
  {% for event_id in events %}
    {% assign event = site.data.events[event_id] %}
    <img class="event-thumb -home" src="{{ site.baseurl }}{{ event.front }}">
  {% endfor %}
  <a class="more-events-home" href="{{site.baseurl}}/events/">
    Get Involved
  </a>
</div>
{% include footer.html %}
<script src="/assets/javascript/siema.min.js"></script>
<script>
  //window.siema = new Siema();
</script>
