---
layout: default
---
{% include videobg.html %}
<div class='hero'>
  <div class="message">
    <img class="fba-logo" src="{{ '/assets/images/fbasync_white.png' | prepend: site.baseurl }}">
    <div class="message-box">
      <h1>Welcome Home</h1>
      <ul class="menu">
        <li class="menu-item">About</li>
        <li class="menu-item">Sessions</li>
        <li class="menu-item">Ministries</li>
        <li class="menu-item">Events</li>
        <li class="menu-item">Stories</li>
      </ul>
    </div>
  </div>
</div>
<div class="talk-series">
  <img class="image" src="{{ '/assets/images/talks/leak-series.png' | prepend: site.baseurl }}">
  <div class="schedule">
    <div class="details">
      <h2>Come home<br>this Sunday</h2>
      <h3>
        Talk 2<br>
        July 16, 2017<br>
        PICC Meeting Room 1<br>
      </h3>
      <a src="#">View other sessions</a>
  </div>
  </div>
</div>
<div class="download-bulletin">
  <div class="message">Missed the session last Sunday?</div>
  <a src="">Download Bulletin</a>
</div>
<div class="events-panel">
  {% for event in site.events %}
    {% if event.featured == true %}
      <img class="event-thumb" src="{{ site.baseurl }}{{ event.image }}">
    {% endif %}
  {% endfor %}
  <div class="more">
    Find out<br>more events
  </div>
</div>
<div class="stories-panel">
  {% for post in site.posts %}
    <img class="story-bg" src="{{ site.baseurl }}{{ post.image }}">
    <div class="details">
      <div class="excerpt">
        <h4>Featured Story</h4>
        <p>
          {{post.content}}
        </p>
      </div>
      <div class="share">
        We'd love to hear your story. Let us know through story@fbasync.com
      </div>
    </div>
  {% endfor %}
</div>
{% include footer.html %}
