---
layout: default
sched_color: 828bac
feast_image: treasure.jpg
feast_title: 'Talk 1'
feast_date: Sept 3, 2017
feast_time: 9 AM
address: PICC, Pasay City
bulletin: SYNC-BULLETIN-08272017.pdf
events: chorus, llr, kcon
video: "https://www.youtube.com/watch?v=OpGbjAWTEzU"
---
<div class='hero'>
  {% include videobg.html %}
  <div class="message">
    <img class="fba-logo" src="{{ '/assets/images/fbasync_white.png' | prepend: site.baseurl }}">
    <div class="message-box">
      <h1>Welcome Home</h1>
    </div>
  </div>
</div>
<div class="talk-series">
  <div class="image-wrapper">
    <img class="image" src="{{ '/assets/images/talks/' | prepend: site.baseurl | append: page.feast_image }}">
  </div>
  {% if page.video != 'none' %}
  <div class="popup-vid-container">
    <a id="popup-vid" class="popup-vid no-line" href="{{page.video}}">
      <i class="fa fa-play" aria-hidden="true"></i>
      <span class="play">play</span>
    </a>
  </div>
  {% endif %}
  <div class="schedule" style="background-color: #{{ page.sched_color }};">
    <div class="details">
      <h2>Come home<br>this Sunday</h2>
      {% assign sync = site.data.sessions[1] %}
      <h4>
        {{page.feast_title}} | {{page.feast_date}} | {{page.feast_time}}<br>
        {{sync.venue}}<br>
        {{page.address}}<br>
      </h4>
      <a href="{{ site.baseurl }}/sessions/">View other sessions</a><br><br>
      <a class="latest-bulletin" href="{{ site.baseurl }}/bulletin/{{page.bulletin}}" target="_blank">Get our latest bulletin</a>
  </div>
  </div>
</div>
<div class="stories-panel">
  {% for post in site.posts %}
    {% if post.featured %}
      {% assign imagesrc = post.image | prepend: site.baseurl | prepend: site.url %}
      <a class="story" href="{{ post.url }}" style="background-image: url({{imagesrc}});">
      <!-- <a class="story" href="{{ post.url }}"> -->
        <div class="details">
          <div class="excerpt">
            <h3>{{post.title}}</h3>
            {{post.excerpt}}
            <span class="read-more">Read More</span>
          </div>
          <div class="share">
            We'd love to hear your story. Let us know through <b>story@fbasync.com</b>
          </div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
<div class="events-panel">
  {% assign events = page.events | split: ", " %}
  {% for event_id in events %}
    {% assign event = site.data.events[event_id] %}
    <img class="event-thumb -home" src="{{ site.baseurl }}{{ event.front }}">
  {% endfor %}
  <a class="more-events-home" href="{{site.baseurl}}/events/">
    Get Involved
  </a>
</div>
{% include footer.html %}
<!-- <script src="/assets/javascript/siema.min.js"></script>
<script>
  //window.siema = new Siema();
</script> -->
