<!--<div class="talk-series">-->
  <!--<div class="schedule" style="background-color: #{{ page.sched_color }};">-->
    <!--<div class="details">-->
      <!--<h2>Come home<br>this Sunday</h2>-->
      <!--{% assign sync = site.data.sessions[1] %}-->
      <!--<h4>-->
        <!--{{page.feast_title}}<br>{{page.feast_date}} | {{page.feast_time}}<br>-->
        <!--{%if page.room != 'none'%}{{page.room}}{% else %}{{sync.venue}}{% endif %}<br>-->
        <!--{{page.address}}<br>-->
      <!--</h4>-->
      <!--<a href="{{ site.baseurl }}/sessions/">View other sessions</a><br><br>-->
      <!--<a class="latest-bulletin" href="{{ site.baseurl }}/bulletin/{{page.bulletin}}" target="_blank">Get our latest bulletin</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="image-wrapper">-->
    <!--<img class="image" src="{{ '/assets/images/events/fwn.jpg' | prepend: site.baseurl }}">-->
  <!--</div>-->
<!--</div>-->
<div class="fwn-panel">
  <img class="image" src="{{ '/assets/images/fwn-dt.png' | prepend: site.baseurl }}">
  <a class="ticket" href="http://events.thefeastmallofasia.com/" target="_blank">GET TICKETS</a>
</div>
