//colors
$gray: #4c4c4c;
$light-gray: #f5f5f5;
$white: #fff;
$off-black: #1d1d1d;

.main-content {
  margin: $spacing-unit;
  margin-top: 0;
  padding-top: $spacing-unit * 3;
}


@import
'components/columns',
'components/footer',
'components/header',
'components/video'
;

@import
'pages/events',
'pages/home'
;
