.hero {
  min-height: 400px;
  height: 70vh;
  position: relative;

  @include media-query($on-palm) {
    background: url("/assets/images/feast-bay-area-sync-head.jpg");
    background-size: cover;
  }

  .message {
    align-items: center;
    color: $white;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;

    > .fba-logo {
      margin-bottom: 50px;
      width: 150px;
    }

    > .message-box {
      > h1 {
        border: 3px solid $white;
        font-size: 50px;
        font-weight: 200;
        padding: 30px 70px;
        text-align: center;
        text-transform: uppercase;

        @include media-query($on-palm) {
          font-size: 45px;
          padding: 10px;
          max-width: 250px;
        }
      }
    }
  }
}

.talk-series {
  background-color: $white;
  display: flex;
  margin: $spacing-unit 0;

  @include media-query($on-palm) {
    display: block;
  }

  > .image-wrapper {
    flex: 50%;
    > .image {
      height: 100%;
      width: 100%;
    }
    @include media-query($on-palm) {
      margin: $spacing-unit 0;
    }
  }

  > .schedule {
    flex:50%;
    align-items: center;
    background-color: #afd6e6;
    display: flex;
    justify-content: center;
    padding: $spacing-unit;

    > .details h2 {
      font-size: 60px;
      line-height: 65px;
      margin-bottom: $spacing-unit;
      @include media-query($on-palm) {
        max-width: 300px;
      }
    }
    > .details h3 {font-size: 25px;}

    > .details a {
      color: white;
      font-size: 25px;
    }
  }
}

.stories-panel {
  height: 500px;
  position: relative;
  margin: $spacing-unit 0;

  > .story-bg {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  > .details {
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit;
    max-width: 400px;
    @include media-query($on-palm) {
      right: $spacing-unit;
      bottom: $spacing-unit;
      top: auto;
      max-width: inherit;
    }

    > .excerpt {
      background: $light-gray;
      padding: $spacing-unit/2;
      margin-bottom: $spacing-unit/2;
    }

    > .share {
      background: $off-black;
      color: white;
      padding: $spacing-unit/2;
    }
  }
}

.events-panel {
  display: flex;
  justify-content: center;
  margin: $spacing-unit 0;
  @include media-query($on-palm) {
    display: block;
  }

}

.more-events-home {
  height: 24vw;
  width: 25vw;
  color: white;
  background: $off-black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: underline;
  @include media-query($on-palm) {
    // height: 100vw - $spacing-unit * 2;
    height: calc(100vw - 40px);
    width: 100%;
  }
}
