.ministry {
  display: flex;
  @include media-query(750px) {
    display: block;
  }

  > h2 {
    min-width: 400px;
    @include media-query(750px) {
      min-width: inherit;
    }
  }
}

.info-panel {
  display: flex;
  @include media-query(750px) {
    display: block;
  }

  > h2 {
    min-width: 450px;
    @include media-query(750px) {
      min-width: inherit;
    }
  }
}
