.main-title {
  @include relative-font-size(4.236);
  letter-spacing: -1px;
  line-height: 1;
  display: inline-block;
  padding-top: $spacing-unit;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.banner-image {
  margin-top: $spacing-unit;
  max-height: 500px;
  object-fit: cover;
}

.stories-content {
  max-width: 700px;
  margin: auto;
}

.story {
  &.-margin {
    margin-bottom: $spacing-unit;
  }
}

.stories-main {
  display: flex;
  @include media-query($on-palm) {
    display: block;
  }
}

.all-stories {
  width: 100%;
  max-width: 65vw;
  flex-shrink: 0;
  @include media-query($on-palm) {
    max-width: 100%;
  }

  > article {
    margin-bottom: $spacing-unit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > article .entry-content {
    background-color: $light-gray;
    padding: 20px;
    p {display: inline;}
  }

}

.got-more-panel {
  background-color: $off-black;
  color: white;
  padding: $spacing-unit;
  margin-left: $spacing-unit;
  font-size: 23px;
  text-align: center;
  @include media-query(1000px) {
    font-size: 17px;
  }
  @include media-query($on-palm) {
    margin: $spacing-unit 0 0 0;
  }
}

.story-description {
  font-size: 23px;
  margin-bottom: $spacing-unit;
}
