.cols {
  display: flex;
  .col-2 {
    flex: 50%;
    &.-left { padding-right: $spacing-unit/2 }
    &.-right { padding-left: $spacing-unit/2 }
  }
  @include media-query($on-palm) {
    display: block;
    .col-2.-left, .col-2.-right { padding: 0 }
  }
}

.panel {
  padding: $spacing-unit;
  margin: $spacing-unit 0;
  position: relative;

  > .snippet {
    padding: 20px;
    background-color: $off-black;
    color: white;
    max-width: 300px;
    @include media-query($on-palm) {
      right: $spacing-unit;
    }

    &.-bottom-right {
      position: absolute;
      right: $spacing-unit;
      bottom: $spacing-unit;
    }

    &.-bottom-left {
      position: absolute;
      left: $spacing-unit;
      bottom: $spacing-unit;
    }

    &.-invert {
      background-color: $light-gray;
      color: black;
    }

    &.-wide {
      max-width: inherit;
    }
  }
}
