.copy-container {
  display: flex;
  align-items: center;

  .copy {
    @include media-query($on-palm){
      margin-top: 20px
    };
  }
}

.bold-text {
  font-weight: bold;
}

.got-more {
  text-align: center;
  max-width: 500px;
  margin: $spacing-unit * 2 auto;
}
