// .video-wrapper {
//   height: 0;
//   padding-bottom: 56.25%;
//   padding-top: 25px;
//   pointer-events: none;
//
//   position: absolute;
//   top: -50px;
//   width: 100%;
//
//   iframe {
//     height: 100%;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: -1;
//   }
//
//   &::before {
//     background-color: black;
//   }
// }

.video-wrapper {
  min-height: 400px;
  height: 70vh;

  overflow: hidden;
  background: url("/assets/images/feast-bay-area-sync-head.jpg");
  background-size: cover;

  > .video-player {
    min-height: 400px;
    height: 70vh;
    width: 100% !important;
    object-fit: cover;
  }

  @include media-query($on-palm) {
    display: none;
  }
}
