---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title">Stories</h2>
    <h1 class="main-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <!-- <div class="panel banner-image" style="background-image: url('{{ site.baseurl }}{{ page.image }}');" /> -->
    {% assign imagesrc = page.image | prepend: site.baseurl | prepend: site.url %}
    <img class="banner-image" src="{{ imagesrc }}">
  </header>

  <div class="post-content stories-content" itemprop="articleBody">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p><br>
    <div class="story-description">
      <i>{{ page.description }}</i>
    </div>
    {{ content }}
  </div>
</article>
<div class="got-more">
  How have you been blessed? We'd love to hear from you! Share us your story through <b>info@thefeastmallofasia.com</b>
</div>
{% include footer.html %}
